
<h3>学校简介</h3>

<blockquote>
    <p>The credit belongs to the man who is actually in the arena;
    whose face is marred by dust and sweat and blood; who strives valiantly;
    who errs and comes short again and again; who knows the great enthusiasms,
    the great devotions, and spends himself in a worthy cause;
    who at the best knows in the end the triumph of high achievement;
    and who at the worst, if he fails, at least fails while daring greatly.</p>
</blockquote>

<h3>课程安排</h3>
<table>
    <tr>
        <th>post date</th>
        <th>title</th>
        <th>description</th>
    </tr>
    <tr>
        <td>01.18.2010</td>
        <td>Augue non nibh</td>
        <td>Commodo <a href="index.html">metus</a> vestibulum hdhdh djdjdj djdjdj</td>
    </tr>
    <tr>
        <td>01.18.2010</td>
        <td>Fusce ut diam</td>
        <td>Purus in eget odio in sapien</td>
    </tr>
    <tr>
        <td>01.17.2010</td>
        <td>Augue non nibh</td>
        <td>Adipiscing blandit </td>
    </tr>
    <tr>
        <td>01.17.2010</td>
        <td>Sed vestibulum</td>
        <td>Cras <a href="index.html">lobortis</a> commodo </td>
    </tr>
</table>

