$def with (msgs)
<h2><a href="javascript:">Welcome!</a></h2>

<h3>这就是我</h3>

<p><img src="/static/images/firefox-gray.jpg" width="100" height="120" alt="这就是我" class="float-left" />
我叫陈怡，今年22岁。剩下自己编吧
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna.
In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
posuere nunc justo tempus leo.
</p>

<h3>我所关心的，所关心我的……</h3>

<ul class="archive">
    $for result in msgs:
        $if not result.parent:
            $ href = '/message/' + result.id
        $else:
            $ href = '/message/' + result.parent
        <li>
        <div class="post-title"><a href="$href">$result.title</a></div>
        <div class="post-details">发表于 <a href="$href">$timestringify(result.time)</a> @ $result.user </div>
        </li>
</ul>

<!--div class="navigation clear">
    <div><a href="#" >&laquo; Older Entries</a></div>
    <div><a href="#" >Newer Entries &raquo; </a></div>
</div-->

