$def with (info, main, right, __msg)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
<title>$info['title']</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="chenyi" />
<meta name="description" content="个人简介,简历,求职" />
<meta name="keywords" content="简历" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
</head>
<body>
<!--header -->
<div id="header-wrap"><div id="header">
	<a name="top"></a>
	<h1 id="logo-text"><a href="index.html" title="陈怡的家">ChenYi's HOME</a></h1>
	<p id="slogan">这里是陈怡的家, 介绍自己并抒发感情的地方... </p>
	<div  id="nav">
		<ul>
            $for ind, uri in enumerate(nav):
                $if uri == _SERVER.path:
                    <li id="current">
                $else:
                    <li>
                <a href="$uri">$nav_name[ind]</a>
                </li>
    </ul>
	</div>
   <p id="rss">
      <a href="index.html">Grab the RSS feed</a>
   </p>
   <form id="quick-search" method="get" action="index.html">
      <div id="__msg__" style="display:none;background-color:#FFF;color:red;font-size:22px;height:44px;line-height:44px;text-align:center"></div>
   </form>
<!--/header-->
</div></div>
	
<!-- content-outer -->
<div id="content-wrap" class="clear" >
	<!-- content -->
   <div id="content">
   	<!-- main -->
	   <div id="main">
		   $:main
        <!-- /main -->
		</div>
      <!-- sidebar -->
		<div id="sidebar">
		   $:right
		</div>
    <!-- content -->
	</div>
<!-- /content-out -->
</div>

<!-- footer-bottom -->
<div id="footer-bottom">
	<p class="bottom-left">
		&copy; 2012 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp;
		website templates from <a href="mailto:295387148@qq.com">陈怡</a>
	</p>
	<p class="bottom-right">
		<a href="http://www.w3school.com.cn/css/">CSS</a> |
	    <a href="http://www.w3school.com.cn/xhtml/">XHTML</a>	|
		<a href="/">Home</a> |
      <strong><a href="#top">Back to Top</a></strong>
   </p>
<!-- /footer-bottom-->
</div>

</body>
</html>
<script type="text/javascript">
    var __msg = document.getElementById('__msg__');
    var q = location.search.substring(1).split('&');
    for (var i in q){
        q[i] = q[i].split('=');
        if(q[i][0] == 'msg'){
            __msg.innerHTML = q[i][1];
            __msg.style.display = '';
            setTimeout(function(){
                __msg.style.display='none';
                }, 3000);
            }
        }
</script>
