<script language="javascript" type="text/javascript" src="/static/swfobject.js" ></script>
<div id="gallery">
    <h1>No flash player!</h1>
    <p>It looks like you don't have flash player installed. <a href="http://www.macromedia.com/go/getflashplayer" >Click here</a> to go to Macromedia download page.</p>
</div>

<!-- Script that embeds gallery. -->
<script language="javascript" type="text/javascript">
    var so = new SWFObject("/static/flashgallery.swf", "gallery", "700", "600", "8"); // Location of SWF file. You can change gallery width and height here (using pixels or percents).
    so.addParam("quality", "high");
    so.addParam("allowFullScreen", "true");
    so.addParam("wmode", "transparent");
    so.addVariable("content_path","/static/img"); // Location of a folder with JPG and PNG files (relative to php script).
    so.addVariable("color_path","/static/default.xml"); // Location of XML file with settings.
    so.addVariable("script_path","/images"); // Location of PHP script.
    //so.addVariable("api_key","xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"); // Flickr API key.
    so.write("gallery");
</script>
