
<h2>个人简介</h2>

<h3>生活中的我</h3>

<p><img src="/static/images/firefox-gray.jpg" width="100" height="120" alt="这就是我" class="float-left" />
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna.
In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
posuere nunc justo tempus leo.
</p>

<h3>人生格言</h3>

<blockquote>
    <p>The credit belongs to the man who is actually in the arena;
    whose face is marred by dust and sweat and blood; who strives valiantly;
    who errs and comes short again and again; who knows the great enthusiasms,
    the great devotions, and spends himself in a worthy cause;
    who at the best knows in the end the triumph of high achievement;
    and who at the worst, if he fails, at least fails while daring greatly.</p>
    <p class="align-right"> - Theodore Roosevelt</p>
</blockquote>

<h3>在校成绩</h3>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna.
In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
posuere nunc justo tempus leo.
</p>

<ol>
    <li>Here is an example</li>
    <li>of an ordered list</li>
</ol>


